<div class="container">
  <div class="card shadow-lg p-5 mt-5 mb-5 ">
    <div class="row ">
      <div class="col-lg-6">
        <img
          src="https://images.unsplash.com/photo-1546445317-29f4545e9d53?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=702&q=80"
          alt=""
        />
      </div>
      <div class="col-lg-6">
        <div class="input">
          <div class="row">
            <div class="col-lg-6">
              <h1>Welcome to <br />GAU!</h1>
            </div>
            <div class="col-lg-6" style="text-align: right">
              <a class="btn btn-btn-danger" routerLink="/sign-in"
                ><p>Skip Sign-Up</p></a
              >
            </div>
            <div [ngClass]="className" role="alert">
             {{message}}<a routerLink='/sign-in'> Login Here</a>
            </div>
          </div>
          <p>
            Let’s save our cows! <br />
            You are signing up as donor.
          </p>
          <div class="form-input">
            <form [formGroup]="signUpForm">
              <div class="form-group">
                <div class="mb-3">
                  <input
                    type="email"
                    class="form-control"
                    id="exampleInputEmail1"
                    aria-describedby="emailHelp"
                    placeholder="Registered email"
                    formControlName="email"
                  />
                </div>
                <div class="mb-3">
                  <input
                    type="text"
                    class="form-control"
                    id="exampleInputEmail1"
                    aria-describedby="emailHelp"
                    placeholder="Registered phone Number"
                    formControlName="phone"
                  />
                </div>
                <div class="input-group mb-3">
                  <input
                    class="form-control"
                    id="password"
                    name="password"
                    placeholder="Password"
                    value=""
                    formControlName="password"
                  />
                  <span class="input-group-text">
                    <i
                      class="fa fa-eye"
                      id="togglePassword"
                      style="cursor: pointer"
                    ></i>
                  </span>
                </div>

                <a routerLink="/sign-in"><p>Already on GAU? Login</p></a>
                <button type="submit" class="btn justify-content-center btn-primary" (click)="signUp()">
                  Sign-Up
                </button>
                <a routerLink="/sign-in"><p>Sign in as a different user here</p></a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
