<section class="pb-20">
  <div class="row ">
    <div class=" col-lg-6 pt-24">
      <div class="mw-xl mw-lg-2xl mx-auto mx-lg-0">
        <h1 class="h2 mb-6">
          Simple Act <br />
          of donation
        </h1>
        <p class="mw-lg fs-7 mb-10">
          Can save an indian cow and give her a good life.
        </p>
        <div class="d-sm-flex align-items-center mb-24">
          <a class="btn btn-community" href="#">Watch about us</a>
          <a class="btn btn-login ms-5" href="#"> <span>Donate</span></a>
        </div>

        <div class="social-media-link mt-5 ms-5">
          <!-- Facebook -->
          <a href="#!" role="button" class="ms-5">
            Facebook <i class="fa fa-facebook-f"></i
          ></a>
          <a href="#!" class="ms-5" role="button">
            Instagram <i class="fa fa-instagram"></i
          ></a>
          <a href="#!" class="ms-5" role="button">
            Twitter <i class="fa fa-twitter ms-1"></i
          ></a>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-6 pt-24">
      <div class="hero-img">
        <img
          class="hero-image"
          src="https://plus.unsplash.com/premium_photo-1677850457281-772c39419991?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=871&q=80"
          alt=""
        />
      </div>
    </div>
  </div>
</section>



<div class=" section-counter">
  <div class="row row-counter">
    <div class="col-lg-4">
      <h1><i class="fa fa-envelope"></i>1000+</h1>
      <p>Cows saved</p>
    </div>
    <div class="col-lg-4">
      <h1><i class="fa fa-envelope"></i>15M+</h1>
      <p>Money donated</p>
    </div>
    <div class="col-lg-4 flex-row">
      <h1><i class="fa fa-envelope"></i>10+</h1>
      <p>Active campaigns</p>
    </div>
  </div>
</div>

<div class=" featured-cow">
  <div class="row p-5">
    <h1>Cows looking for your help</h1>
    <p>
      Lörem ipsum kror sov ruskap fast kvasiren. Van ilig. Spetevud robothandel
      nåbel. Trens lanera: readetångar. Dos lafyfönera decisam senade prevuktig.
    </p>
    <div
      id="carouselExampleControls"
      class="carousel slide"
      data-ride="carousel"
    >
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="cards-wrapper">
            <div class="card">
              <img
                src="https://images.unsplash.com/photo-1531299192269-7e6cfc8553bb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">
                  Some quick example text to build on the card title and make up
                  the bulk of the card's content.
                </p>
                <div class="row">
                  <div class="col-lg-4">
                    <p>40,000</p>
                    <p>raised</p>
                  </div>
                  <div class="col-lg-4"></div>
                  <div class="col-lg-4">
                    <p>100,000</p>
                    <p>Goal</p>
                  </div>
                </div>
                <a href="#" class="btn btn-primary" style="text-align: right"
                  >Donate</a
                >
              </div>
            </div>
            <div class="card d-none d-md-block">
              <img
                src="https://images.unsplash.com/photo-1531299192269-7e6cfc8553bb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">
                  Some quick example text to build on the card title and make up
                  the bulk of the card's content.
                </p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
            <div class="card d-none d-md-block">
              <img
                src="https://images.unsplash.com/photo-1531299192269-7e6cfc8553bb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">
                  Some quick example text to build on the card title and make up
                  the bulk of the card's content.
                </p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="cards-wrapper">
            <div class="card">
              <img
                src="https://images.unsplash.com/photo-1531299192269-7e6cfc8553bb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">
                  Some quick example text to build on the card title and make up
                  the bulk of the card's content.
                </p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
            <div class="card d-none d-md-block">
              <img
                src="https://images.unsplash.com/photo-1531299192269-7e6cfc8553bb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">
                  Some quick example text to build on the card title and make up
                  the bulk of the card's content.
                </p>

                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
            <div class="card d-none d-md-block">
              <img
                src="https://images.unsplash.com/photo-1531299192269-7e6cfc8553bb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">
                  Some quick example text to build on the card title and make up
                  the bulk of the card's content.
                </p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="cards-wrapper">
            <div class="card">
              <img
                src="https://images.unsplash.com/photo-1531299192269-7e6cfc8553bb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">
                  Some quick example text to build on the card title and make up
                  the bulk of the card's content.
                </p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
            <div class="card d-none d-md-block">
              <img
                src="https://images.unsplash.com/photo-1531299192269-7e6cfc8553bb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">
                  Some quick example text to build on the card title and make up
                  the bulk of the card's content.
                </p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
            <div class="card d-none d-md-block">
              <img
                src="https://images.unsplash.com/photo-1531299192269-7e6cfc8553bb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">
                  Some quick example text to build on the card title and make up
                  the bulk of the card's content.
                </p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <a
        class="carousel-control-prev"
        href="#carouselExampleControls"
        role="button"
        data-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a
        class="carousel-control-next"
        href="#carouselExampleControls"
        role="button"
        data-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</div>

<div class="row ms-5 p-5">
  <div class="col-lg-6 vision">
    <div class="vision-progress">
      <div
        role="progressbar"
        aria-valuenow="67"
        aria-valuemin="0"
        aria-valuemax="100"
        style="--value: 67"
      ></div>
    </div>
    <div class="row vision-left">
      <div class="col-lg-6 text-white">
        <p>Onboarded cows <span>5000</span></p>
        <p>Estimated cows in India <span>120000</span></p>
      </div>
      <div class="col-lg-6 text-white">
        <p>5000</p>
        <p>120000</p>
      </div>
    </div>
  </div>
  <div class="col-lg-6 mt-5 mb-5 vision-right">
    <div class="vision-heading">
      <h1>Vision</h1>
    </div>
    <p class="vision-para">
      GAU seeks to integrate stray cows into the mainstream economy. Our journey
      began with an enlightening experience, backed by a well-researched working
      paper from IIM Ahmedabad to ensure we tread the right path. Through the
      STFS (Social Technical Financial system) concept, we’ve built a robust
      mechanism to ensure every penny is optimally utilized for our cause –
      bringing stray cows to the mainstream.
    </p>
    <div class="readmore">
      <a href="">Read more</a>
    </div>
  </div>
</div>

<div class="gaushalas">
  <div class="row">
    <h1>Gaushalas</h1>
    <p>
      GauDaan is the most powerful and pure donation anyone can do in their
      lifetime. It is believed that by performing GauDaan, a person can absolve
      themselves of all their sins. In this context, the GAU vision aims to
      ensure transparency in the whole system. Few of the important po
    </p>
    <div class="organisation-card">
      <div
        id="carouselExampleControls"
        class="carousel slide"
        data-ride="carousel"
      >
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="cards-wrapper">
              <div class="card">
                <img
                  src="https://images.unsplash.com/photo-1531299192269-7e6cfc8553bb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80"
                  class="card-img-top"
                  alt="..."
                />
                <div class="card-body">
                  <h5 class="card-title">Muni Seva Ashram Gaushala</h5>
                  <p class="card-text">
                    Currently, Muni Seva Ashram manages three Gaushalas (cow
                    sheds) and one heifer rearing center
                  </p>
                  <div class="row">
                    <div class="col-lg-4">
                      <p>40,000</p>
                      <p>raised</p>
                    </div>
                    <div class="col-lg-4"></div>
                    <div class="col-lg-4">
                      <p>100,000</p>
                      <p>Goal</p>
                    </div>
                  </div>
                  <a href="#" class="btn btn-primary" style="text-align: right"
                    >Donate</a
                  >
                </div>
              </div>

              <div class="card d-none d-md-block">
                <img
                  src="https://images.unsplash.com/photo-1531299192269-7e6cfc8553bb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80"
                  class="card-img-top"
                  alt="..."
                />
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">
                    Some quick example text to build on the card title and make
                    up the bulk of the card's content.
                  </p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
              <div class="card d-none d-md-block">
                <img
                  src="https://images.unsplash.com/photo-1531299192269-7e6cfc8553bb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80"
                  class="card-img-top"
                  alt="..."
                />
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">
                    Some quick example text to build on the card title and make
                    up the bulk of the card's content.
                  </p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="cards-wrapper">
              <div class="card">
                <img
                  src="https://images.unsplash.com/photo-1531299192269-7e6cfc8553bb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80"
                  class="card-img-top"
                  alt="..."
                />
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">
                    Some quick example text to build on the card title and make
                    up the bulk of the card's content.
                  </p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
              <div class="card d-none d-md-block">
                <img
                  src="https://images.unsplash.com/photo-1531299192269-7e6cfc8553bb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80"
                  class="card-img-top"
                  alt="..."
                />
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">
                    Some quick example text to build on the card title and make
                    up the bulk of the card's content.
                  </p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <a
          class="carousel-control-prev"
          href="#carouselExampleControls"
          role="button"
          data-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a
          class="carousel-control-next"
          href="#carouselExampleControls"
          role="button"
          data-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="story">
  <div class="row story-section ps-4 pt-5">
    <h1>A story which changed a life...</h1>
    <div class="row p-5">
      <div class="col-lg-3">
        <img
          src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=387&q=80"
          class="avatar-img"
          alt=""
        />
      </div>
      <div class="col-lg-3"><h3>Jia sharma</h3></div>
      <div class="col-lg-3">location</div>
      <div class="col-lg-3">Date</div>
    </div>

    <div class="row pt-1 ps-5">
      <p>12/12/12</p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla, debitis
        impedit earum maiores sit at sint reiciendis, perspiciatis soluta cum
        iste minima repellendus minus tempore molestias quia unde tempora
        dolorum vitae nisi. Ducimus voluptatem recusandae quae optio dolor
        deserunt rerum.
      </p>
      <p>12/12/12</p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla, debitis
        impedit earum maiores sit at sint reiciendis, perspiciatis soluta cum
        iste minima repellendus minus tempore molestias quia unde tempora
        dolorum vitae nisi. Ducimus voluptatem recusandae quae optio dolor
        deserunt rerum.
      </p>
      <p>12/12/12</p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla, debitis
        impedit earum maiores sit at sint reiciendis, perspiciatis soluta cum
        iste minima repellendus minus tempore molestias quia unde tempora
        dolorum vitae nisi. Ducimus voluptatem recusandae quae optio dolor
        deserunt rerum.
      </p>
      <p>12/12/12</p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla, debitis
        impedit earum maiores sit at sint reiciendis, perspiciatis soluta cum
        iste minima repellendus minus tempore molestias quia unde tempora
        dolorum vitae nisi. Ducimus voluptatem recusandae quae optio dolor
        deserunt rerum.
      </p>
    </div>
    <div class="row mt-5 p-5">
      <div class="col-lg-4">
        <h4>
          <span
            ><img
              src="https://cdn0.iconfinder.com/data/icons/animal-kingdom-vol-1/512/cow_farm_animal_milk-512.png"
              style="height: 70px; width: 70px"
              alt="" /></span
          >health
        </h4>
        <p class="ps-5 health-section">
          Lorem ipsum dolor sit Lorem ipsum dolor sit amet consectetur,
          adipisicing elit. Sapiente, aliquid! ipsum dolor sit amet.
        </p>
      </div>
      <div class="col-lg-4">
        <h4>
          <span
            ><img
              src="https://cdn1.iconfinder.com/data/icons/mother-s-day-31/64/Mothers_Day_heart_hands_care_love_Valentines_Day-128.png"
              style="height: 70px; width: 70px"
              alt="" /></span
          >Care
        </h4>
        <p class="ps-5 health-section">
          Lorem ipsum dolor Lorem ipsum dolor sit amet consectetur adipisicing
          elit. Totam, asperiores. sit Lorem ipsum dolor sit amet.
        </p>
      </div>
      <div class="col-lg-4">
        <h4>
          <span
            ><img
              src="https://cdn3.iconfinder.com/data/icons/food-set-2-1/91/Food_C136-512.png"
              style="height: 70px; width: 70px"
              alt="" /></span
          >Food
        </h4>
        <p class="ps-5 health-section">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt nostrum
          totam sed vel doloremque distinctio cumque aperiam rem! Cum, ut.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="community">
  <h1 class="">Our Community</h1>
  <div class="row">
    <div class="col-lg-6">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor esse
        facere adipisci unde fugit ratione illo ut iste! Id voluptatum porro ab
        veniam recusandae, temporibus nulla tempora aperiam explicabo odit
        facere laborum. Quia dicta quasi modi! Eveniet ea, aut quibusdam
        voluptatum perferendis reprehenderit aliquid corrupti fuga ipsam a.
        Aliquid, reprehenderit.
      </p>
    </div>
    <div class="col-lg-6">
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/bV4hew7hi2Q"
        title="Revolutionizing Sustainability: Integrating Stray Cows for a Self-Sustainable Cow-Based Economy."
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe>
      <div class="row">
        <div class="col-lg-4"><i class="fa fa-play-circle ms-1"></i></div>
        <div class="col-lg-4">
          <p>304K</p>
          <p>Community</p>
        </div>
        <div class="col-lg-4"><a href="" class="btn btn-danger"> Join Us</a></div>
      </div>
    </div>
  </div>
</div>
